{% extends "flask_user_layout.html" %}
{% block content %}
<p>The distributed messenger. <a href="{{ url_for('home_page') }}">List of channels.</a> </p>
{% if channel %}
    <h1>Channel {{ channel.name }}</h1>

        {% for i in range(messages|count) %}
            <h2>{{ messages[i].sender }}</h2>
            <p><div id="msg_text{{i}}">{{ messages[i].content }}</div> 
                <a id="translate" onClick="translate_text('{{ messages[i].content }}', '{{ url_for('translate')}}', '{{ i }}');">Translate</a> </p>
            <p style="font-size: 60%">{{ messages[i].timestamp }}</p>
            <script src="{{ url_for('static',filename='scripts/translate.js') }}"></script>
        {% endfor %}
{% else %}
    <h1>Channel not found</h1>
{% endif %}

<form action="post" method="post">
    <input type="hidden" name="channel" value="{{ channel.endpoint | urlencode }}">
    Message: <input type="text" name="content" id="content"> <br>
    <input type="submit" value="Post">
</form>

{% endblock %}