.msg-container {
    display: flex;
    flex-direction: column;
}

#user-msg {
    align-self: flex-end;
    margin-right: 2%;
}

#others-msg {
    align-self: flex-start;
    margin-left: 2%;
}

.panel {
    min-width: 20%;
    max-width: 70%;
    margin-bottom: 10px;
}

.panel-footer {
    margin-top: auto;
    text-align: right;
}

a:hover {
    cursor:pointer;
   }

#send-msg {
    font-family: 'Material Icons', sans-serif;
    color: #000;
    background-color: rgba(255, 255, 255, 0);
    font-size: 18px;
    border: none;
}

#send-msg:hover {
    color: #3fa4e7;
}

.main-div {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.channel-name {
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: white;
    margin: auto;
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

#message-form {

    display:flex;
    flex-direction:row;
    

    border:2px solid grey;
    border-radius: 20px;
    background-color: white;
  

    padding:1px;
    width: 96%;
    margin-left: 2%;

    position: sticky;
    bottom: 0;
}
  
#content {
    flex-grow:2;
    border-radius: 20px;
    margin-left: 1%;

    border:none;
}
  

#content:focus {
    outline: none;
}
  

#message-form:focus-within { 
    outline: 1px solid black
}
  
#sender {
    border-radius: 20px;
    margin-left: 1%;

    border:none;
}
  

#sender:focus {
    outline: none;
}
  